# 板型：ESP32-S3 N16R8 + ST7789 240x320 SPI + GT911 电容触摸
CONFIG_BOARD_ESP32S3_ST7789=y

# ESP32-S3-WROOM-1 N16R8：Flash 16MB 80MHz QIO，8MB Octal PSRAM 80MHz
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384

# 不开 XIP
# CONFIG_SPIRAM_XIP_FROM_PSRAM is not set

# 复用 jc8048w550 的 16MB 分区表
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_jc8048w550.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_jc8048w550.csv"